.user-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.user-list li {
  padding: 10px 11px;
  margin-bottom: 10px;
  text-transform: capitalize;
  /* background-color: #222831 */
  border: 1px solid #eaeaea;
}
.user-list .active {
  /* box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1); */
  background-color: #393E46 !important;
  /* border: 0px !important; */
}
.input-finder-icon {
  position: relative;
  margin-bottom: 20px;
}
.input-finder-icon input {
  padding: 10px;
  padding-left: 60px;
  margin: 15px 0px;
}
.input-finder-icon svg{
  position: absolute;
  left: 0;
  top: 16px;
  padding-left: 10px;
  padding-top: 12px;
}
.input-icon{
  min-width: 30px;
  min-height: 30px;
  color: #9D9D9D;
  margin-left: 15px;
}
.online {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: rgb(0, 255, 42) !important;
  float: right;
  margin-top: 1vh;
}
.offline {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: rgb(255, 0, 0) !important;
  float: right;
  margin-top: 1vh;
}

.search-input{
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: #eaeaea;
}
