.app-header {
  background-color: #eaeaea !important;
  color: #e4e3e3 !important;
}

a.nav-link:hover{
  text-decoration: none;
  color: #e4e3e3;
}

.nav-text{
  color: #222831 !important;
  background-color: #eaeaea !important;
  
}
.nav-logo {
  color: #222831 !important;
  background-color: #eaeaea !important;
  
}
.nav-text:hover{
  color: #eaeaea !important;
  /* font-weight: 600; */
  background-color: #00ADB5 !important;
}



