.content{
    height: 70vh;
    margin-top: 5vh;
    padding: 0 15px;
    margin: 50px;
    background-color: #222831;
}

.chat-content{
    height: 100%;
    /* border: 1px solid black; */
}


.chat-list-container {
    padding: 25px 15px;
    height: 100%;
    border: 1px solid #EAEAEA;
    color: #EAEAEA;
}

.chat-box-container{
    height: 100%;
    /* border: 1px solid blue; */
    /* width: 100%; */

  }

  @media screen and (max-width: 900px) {
    .chat-list-container{
        display: none;
    }
}